.App {
  text-align: center;
}

.timerCard {
  background: #1e1e1e;
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  margin: auto;
}


#headerTimeWise {
  font-size: 24px;
  margin: 10px;
  text-align: center;
}

div{
  margin: 50px;
}